

  #sobrenosotros h2 {
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  #sobrenosotros h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
      font-weight: bold;
  }  
  #sobrenosotros .container-fluid {
      padding: 60px 50px;
  }
  #sobrenosotros .bg-grey {
      background-color: #f6f6f6;
  }
  #sobrenosotros .logo-small {
      color: #337ab7;
      font-size: 50px;
  }
  #sobrenosotros .logo {
      color: #337ab7;
      font-size: 200px;
  }
  #sobrenosotros .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  #sobrenosotros .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  
  #sobrenosotros .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  #sobrenosotros .item span {
      font-style: normal;
  }

  #sobrenosotros #iconoBarras{
    margin-top: 7%;
  }
  #sobrenosotros #iconoGlobo{
    margin-top: 8%;
  }

  @media screen and (max-width: 768px) {
   #sobrenosotros .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    #sobrenosotros .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
#contacto p{
  font-weight: 600;
}